<div class="articleReading">
	<div class="ins">
		<h3 class="title">{{data.title}}</h3>
		<div class="info">
			<ul class="clearfix info-list">
				<li>
					<i class="layui-icon" style="font-size:16px;">&#xe612;</i> 
					<span>{{data.author}}</span>
				</li>
				<li>
					<i class="layui-icon" style="font-size:16px;">&#xe60e;</i> 
					<span>{{turn(data.publicationTime) | date:'yyyy-MM-dd'}}</span>
				</li>
				<li>
					<i class="layui-icon" style="font-size:16px;">&#xe705;</i> 
					<span>{{data.mold}}</span>
				</li>
			</ul>
		</div>
		<div class="article-content">
			<p ng-repeat="item in data.content">
				{{item}}
			</p>
			
		</div>
		<div class="labels">
			<ul class="clearfix">
				<li ng-repeat="item in data.label">{{item}}</li>
				
			</ul>
		</div>
	</div>
	
</div>